option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "social.settings"
    SECRET_KEY: "9cb0f764eb676639de0a2c4e"
    DEBUG: "False"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health/

packages:
  yum:
    mariadb-devel: []

commands:
  01_migrate:
    command: "python3 manage.py migrate"
  02_collectstatic:
    command: "python3 manage.py collectstatic --noinput"

container_commands:
  01_run_daphne:
    command: "daphne -b 0.0.0.0 -p 8000 social.asgi:application"
    leader_only: false









