packages:
  yum:
    mariadb-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "social.settings"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
    DEBUG: "False"
    SECRET_KEY: "9cb0f764eb676639de0a2c4e"
    GDAL_LIBRARY_PATH: "/usr/lib64/libgdal.so"
    MYSQLCLIENT_CFLAGS: "-I/usr/include/mysql"
    MYSQLCLIENT_LDFLAGS: "-L/usr/lib64/mysql"
